/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
.env
.env.backup
.env.production
.DS_Store
Thumbs.db
*.phar
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
